@import url(https://fonts.google.com/specimen/Red+Hat+Text?query=red+ha&sort=popularity&noto.script=Latn);
html{
    font-family: 'Red Hat Text', sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    margin: 0;
    padding: 0;
    background-color: #E8E9EB;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 100%;
    background-color: #FFFBFE;
    font-size: 2rem;
    color:black;
    font-weight: 790;
    border-bottom: 2px solid #d1cdd0;
    text-shadow: 0 0 0.5rem #e6d8d8;

}
.squares{
    display: flex;
    justify-content: center;
    gap: 5rem;
}
img{
    margin: 0;
    padding: 0;
    width: 200px;
    height: 200px;
}

.score,.gameOver{
font-size: 34px;
}

.medio{
    display: flex;
    justify-content: center;
    align-items: center;
}
img:hover {
    transform: scale(1.1);
    border-radius: 30px;
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
  }
  #paper:hover{
    background-color: #E3212C;
  }

  #rock:hover{
    background-color: #19ABA0;
  }

  #scissors:hover{
    background-color: #B3CC32;
  }